.obsidian
.vscode
__pycache__/
build
data/.obsidian/*
data/.obsidian
data/cache
crawled.txt
crawler.py
svgmodderlib/
mktest.py
templates/test.html
templates/teststyles.css
data/astrolearn.json
COMPLETE_TEST/
lib\mdprocessorlib\test.fnc
lib\mdprocessorlib\test.py
