/* Global Variables */
:root {
    /* Main colors */
    --primary-color: #3498db; /* Main accent color, used for links, buttons, etc. */
    --secondary-color: #2ecc71; /* Secondary accent color */
    --tertiary-color: #e74c3c; /* Third accent color for highlights or warnings */

    /* Background colors */
    --scrollbar-color:#71b8ff;
    --scrollbar-track-color:#d3efff;
    --body-bg-color: #d8eaf7; /* Main background color for the body */
    --body-border-color: #f0f3f5; /* Main background color for the body */
    --card-bg-color: #ebf9ff; /* Background color for cards and content sections */
    --header-bg-color: #5eaeff; /* Background color for the header */
    --footer-bg-color: #7d9fc2; /* Background color for the footer */
    --sidebar-bg-color:#cce6ff;
    --frame-color:var(--body-bg-color);
    /* Text colors */
    --text-color-primary: #2c3e50; /* Main text color */
    --text-color-secondary: #7f8c8d; /* Secondary text color for less emphasis */
    --text-color: #2c2a35; /* Light text color for dark backgrounds */
    --highlighted_text:#e74c3c; 
    --bold_text:  #007acc;
    /* Link colors */
    --link-color: #0099ff; /* Color for text links */
    --link-hover-color: var(--card-bg-color); 

    --link-bg-color: var(--card-bg-color);
    --link-hover-bg-color: var(--link-color);

       
    /*--link-hover-color: #2980b9; /* Color for text links on hover */



    /* Heading colors */
    --heading-color-h1: #2c3e50; /* Color for h1 headings */
    --heading-color-h2: #3c546d; /* Color for h2 headings */
    --heading-color-h3: #3f769b; /* Color for h3 headings */
    --heading-gradient: -webkit-linear-gradient(#4f86ff, #1706ff);
    --side-bar-h1-color: #766cff;
    --headings-color-underline:#0084ff;
    /* UI element colors */
    --button-bg-color: #3498db; /* Background color for buttons */
    --button-text-color: #ffffff; /* Text color for buttons */
    --button-hover-bg-color: #2980b9; /* Background color for buttons on hover */
    --input-bg-color: #ffffff; /* Background color for input fields */
    --input-border-color: #bdc3c7; /* Border color for input fields */

    /* Table colors */
    --table-header-bg: #37afff; /* Background color for table headers */
    --table-row-even-bg: #f9f9f9; /* Background color for even table rows */
    --table-row-odd-bg: #ffffff; /* Background color for odd table rows */
    --table-row-hover-bg: #ecf0f1; /* Background color for table rows on hover */
    --table-border-color: #bdc3c7; /* Color for table borders */
    --table-header-color:#2c2a35;
    /* Code and pre colors */
    --code-bg-color: #f1f2f6; /* Background color for inline code */
    --code-text-color: #333333; /* Text color for inline code */
    --pre-bg-color: #f1f2f6; /* Background color for code blocks */
    --pre-text-color: #333333; /* Text color for code blocks */

    /* Q&A section colors */
    --qa-bg-color: #f8f9fa; /* Background color for Q&A sections */
    --qa-border-color: #e9ecef; /* Border color for Q&A sections */
    --q-option-selected-color:#107ac0;
    --q-option-text-color:#ffffff;    
    --q-option-text-color-selected:#ffffff;    
    --result-background-color:#E8F5E9;
    /* Misc */
    --border-radius: 5px; /* Default border radius for UI elements */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Default box shadow */

    /* Typography */
    --font-family-main: 'Poppins', sans-serif; /* Main font family */
    --font-size-base: 16px;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    /* Updated spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* Transitions */
    --transition-speed: 0.3s; /* Default transition speed */
    --ul-1-color:#ffffff;
    --ul-2-color:#9fdcff;
    --ul-3-color:#003881;
    --ul-4-color:#5f9fff;

    --results-skipped-bg:#FFC107;
    --results-incorrect-bg:#F44336;
    --results-correct-bg:#4CAF50;
    --correct-ans-color: #00af06;
    --incorrect-ans-color: #F44336;  

    --admonition-bg-main: #D8EAF7;
    --admonition-bg: #FFF9E6;
    --admonition-text: #333333;
    --admonition-title: #856404;
    --admonition-border: #ffd700;
    --admonition-link-hover: #533f03;    
}

/* Dark mode variables */
.dark {
    --primary-color: #619efb;
    --secondary-color: #2ecc71;
    --tertiary-color: #e74c3c;

    --scrollbar-color:#315170;
    --scrollbar-track-color: #262b3a;
    --body-bg-color: #1e1e1e;
    --body-dark-color: #373e44; /* Main background color for the body */
    --card-bg-color: #2c3e50;
    --header-bg-color: #1c2833;
    --footer-bg-color: #6b8dad;
    --frame-color:var(--body-bg-color);
    --sidebar-bg-color:#2c3e50;
    --text-color-primary: #e0e0e0;
    --text-color-secondary: #95a5a6;
    --text-color: #c7e1e4;
    --highlighted_text:#e74c3c; 
    --bold_text:  #89CFF0;
    /* Link colors */
    --link-color: #3498db; /* Color for text links */
    --link-hover-color: var(--card-bg-color); 

    --link-bg-color: var(--card-bg-color);
    --link-hover-bg-color: var(--link-color);

       
    /*--link-hover-color: #2980b9; /* Color for text links on hover */
    --headings-color:#0084ff;
    --headings-color-underline:#0084ff;
    --heading-color-h1: #569fff;
    --heading-color-h2: #6bc9ff;
    --heading-color-h3: #9ad5e6;
    --heading-gradient: -webkit-linear-gradient(#0b58ff, #06eeff);
    
    --button-bg-color: #1269bb;
    --button-text-color: #1a1a1a;
    --button-hover-bg-color: #65adff;
    --input-bg-color: #34495e;
    --input-border-color: #4a6278;
    
    --table-header-color:#ffffff;
    --table-header-bg: #406285;
    --table-row-even-bg: #2c3e50;
    --table-row-odd-bg: #34495e;
    --table-row-hover-bg: #3a526a;
    --table-border-color: #4a6278;

    --code-bg-color: #2c3e50;
    --code-text-color: #e0e0e0;
    --pre-bg-color: #2c3e50;
    --pre-text-color: #e0e0e0;


    --qa-bg-color: #242931;
    --qa-border-color: #34495e;
    --result-background-color:#445b70;
    --q-option-selected-color:#107ac0;
    --q-option-text-color:#b0dffd;
    --q-option-text-color-selected:#ffffff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    --side-bar-h1-color: #95c3ff;
    --results-skipped-bg:#d8ab23;
    --results-incorrect-bg:#d1362b;
    --results-correct-bg:#3da341;
    --correct-ans-color: #00cf07;
    --incorrect-ans-color: #ff1100;  



    --admonition-bg-main: #1E1E1E;
    --admonition-bg: #2d2a20;
    --admonition-text: #e0e0e0;
    --admonition-title: #ffd700;
    --admonition-border: #ffd700;
    --admonition-link-hover: #fff7cc;    
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    background-color: var(--body-bg-color);
    color: var(--text-color-primary);
    transition: background-color var(--transition-speed), color var(--transition-speed);
    scroll-behavior: smooth;
}
/* Scrollbar Styles */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: var(--scrollbar-track-color);
    color:var(--input-bg-color)
}

*::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--scrollbar-color);
    
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color:var(--headings-color) ;
    margin-bottom: var(--spacing-medium);
    line-height: 1.2;
    
    text-decoration: wavy dashed var(--headings-color-underline) 2px !important;
}

h1 { 
    text-align: center;
    font-size: 2.5em; 
    color: var(--heading-color-h1);
}

h2 { 
    font-size: 2em; 
    color: var(--heading-color-h2);
}

h3 { 
    font-size: 1.75em; 
    color: var(--heading-color-h3);
}

p {
    margin-bottom: var(--spacing-medium);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color var(--transition-speed);
}

a:hover {
    color: var(--link-hover-color);
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
}

/* Header */
header {
    background-color: var(--header-bg-color);
    padding: var(--spacing-medium) 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--text-color-light);
    font-size: 1.5em;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: var(--spacing-large);
}

.nav-links a {
    color: var(--text-color-light);
    font-weight: 300;
}

/* Main Content */
main {
    margin-top: 80px; /* Adjust based on header height */
    padding: var(--spacing-large) 0;
}

/* Cards */
.card {
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed);
}

.btn:hover {
    background-color: var(--button-hover-bg-color);
}



/* Code */
code {
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    background-color: var(--pre-bg-color);
    color: var(--pre-text-color);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    overflow-x: auto;
    margin-bottom: var(--spacing-large);
}

/* Q&A Styles */
.question {
    background-color: var(--qa-bg-color);
    border: 1px solid var(--qa-border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.question:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
}


.q_and_a_answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out;
}

.q_and_a_answer.show {
    max-height: 1000px;
    opacity: 1;
    padding: var(--spacing-medium) 0;
}


/* Footer */
footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--text-color-light) !important;
    text-align: center ;
    padding: var(--spacing-medium) 0;
    margin-top: var(--spacing-large);
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: var(--spacing-medium);
}

.highlighted-text {
    color: var(--tertiary-color);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: var(--text-color-light);
        margin: 5px;
        transition: all var(--transition-speed) ease;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: var(--header-bg-color);
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active li {
        opacity: 0;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Dark mode toggle button */
#dark-mode-toggle {
    background-color: transparent;
    border: none;
    color: var(--text-color-light);
    cursor: pointer;
    font-size: 1.2rem;
}

/* Flashcard styles */
#flashcard {
    background-color: var(--card-bg-color);
    color: var(--text-color-primary);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--spacing-large);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.flashcard {
    position: relative;
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    perspective: 1000px;
}

.flashcard.flip {
    transform: rotateY(180deg);
}

.flashcard > div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.flashcard #question {
    background-color: var(--card-bg-color);
    color: var(--text-color-primary);
}

.flashcard #answer {
    background-color: var(--card-bg-color);
    color: var(--text-color-primary);
    transform: rotateY(180deg);
}

.flashcard-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


#question, #answer {
    font-size: 1.2em;
}

/* Quiz styles */
.quiz-options label {
    display: block;
    background-color: var(--qa-bg-color);
    color: var(--text-color-primary);
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.quiz-options label:hover {
    background-color: var(--qa-border-color);
}
.result-card {
    color:var(--text-color);
    background-color: var(--result-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.result-card-header {
    padding: 15px;
    font-weight: bold;
    color: var(--text-color);
}
.correct .result-card-header {
    background-color: var(--results-correct-bg);
}
.incorrect .result-card-header {
    background-color: var(--results-incorrect-bg);
}
.skipped .result-card-header {
    background-color: var(--results-skipped-bg);
}
.result-card-body {
    padding: 15px;
}
.question-text {
    font-size: 1.1em;
    margin-bottom: 10px;
}
.answer-text {
    margin-bottom: 5px;
}
.user-answer {

    font-weight: bold;
}
.correct-answer {
    color: #00af06;

    font-weight: bold;
}
.incorrect-answer {
    color: #F44336;
    font-weight: bold;
}
#detailed-results {
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
}
.result-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.status-correct {
    background-color: #E8F5E9;
    color: #4CAF50;
}
.status-incorrect {
    background-color: #FFEBEE;
    color: #F44336;
}
.status-skipped {
    background-color: #E8F5E9;
    color: #FFA000;
}


.chapter-content h1,
.chapter-content h2,
.chapter-content h3,
.chapter-content h4,
.chapter-content h5,
.chapter-content h6 {
    color: var(--heading-color);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.chapter-content h1 {
    font-size: 2.5em;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.3em;
    margin-bottom: 0.5em; /* Added margin for spacing */
    color: var(--heading-color); /* Added color for consistency */
}

.chapter-content h2 {
    font-size: 2em;
    margin-bottom: 0.8em; /* Added margin for spacing */
    color: var(--heading-h2-color); /* Optional: Add color for consistency */
}

.chapter-content h3 {
    font-size: 1.5em;
    color: var(--heading-h3-color);
    margin-bottom: 0.7em; /* Added margin for spacing */
}

.chapter-content p {
    margin-bottom: 1.2em;
    line-height: 1.6; /* Improved readability */
    color: var(--text-color); /* Added color for consistency */
}

.chapter-content ul,
.chapter-content ol {
    list-style-position: inside !important;
    margin-bottom: 1.2em;
    padding-left: 2em;
}

.chapter-content ul li,
.chapter-content ol li {
    margin-bottom: 0.5em;
    color: var(--text-color); /* Added color for consistency */
}

.chapter-content ul li::marker {
    color: var(--list-bullet-color);
    font-size: 1.2em; /* Increased size for better visibility */
}

.chapter-content ol li::marker {
    color: var(--list-bullet-color);
    font-weight: bold;
    font-size: 1.2em; /* Increased size for better visibility */
}

/* Optional: Add custom styles for list items */
.chapter-content ul li::before,
.chapter-content ol li::before {
    content: "\2022"; /* Unicode character for a bullet */
    color: var(--list-bullet-color); /* Color for the bullet */
    font-size: 1.5em; /* Size of the bullet */
    vertical-align: middle; /* Align with the text */
    margin-right: 0.5em; /* Space between the bullet and the text */
}

/* Optional: Style for ordered list numbers */
.chapter-content ol {
    counter-reset: list-item; /* Reset the counter */
}

.chapter-content ol li {
    counter-increment: list-item; /* Increment the counter */
}

.chapter-content ol li::before {
    content: counter(list-item) ". "; /* Append a dot after the number */
    color: var(--list-bullet-color); /* Color for the numbers */
    font-weight: bold;
}


.chapter-content blockquote {
    background-color: var(--blockquote-bg);
    border-left: 4px solid var(--blockquote-border);
    padding: 1em;
    margin: 1.5em 0;
    font-style: italic;
}

.chapter-content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5em;
}

.chapter-content th,
.chapter-content td {
    border: 1px solid var(--table-border);
    padding: 0.75em;
    text-align: left;
}

.chapter-content th {
    background-color: var(--table-header-bg);
    color: #ffffff;
    font-weight: bold;
}

.chapter-content tr:nth-child(even) {
    background-color: var(--table-row-even-bg);
}

.chapter-content code {
    background-color: var(--code-inline-bg);
    color: var(--code-inline-color);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

.chapter-content pre {
    background-color: var(--code-bg);
    color: var(--code-color);
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.chapter-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5em auto;
    border-radius: 5px;
}

.chapter-content a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-color);
    transition: border-bottom-color 0.3s ease;
}

.chapter-content a:hover {
    border-bottom-color: var(--link-hover-color);
}

.sidebar-content .p-6 a,
.p-6 a,
.pdf-view-body a,
.subjects a,
.categories a {
    color: var(--link-color);
    background-color: var(--link-bg-color);
    border-color: var(--link-color);
    text-decoration: none;
    transition: background-color var(--transition-speed);
    transition-duration: .5s;
    border: 1px solid var(--link-color);
}

.sidebar-content .p-6 a:hover:not([disabled]),
.p-6 a:hover:not([disabled]),
.pdf-view-body a:hover:not([disabled]),
.subjects a:hover:not([disabled]),
.categories a:hover:not([disabled]) {
    color: var(--link-hover-color);
    background-color: var(--link-hover-bg-color);
}

.disabled-link {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
.chapter-card .p-6 p,h2{
    transition: color .5s;
}

.chapter-card .p-6:hover p,
.chapter-card .p-6:hover h2{
    color: var(--link-color);
}



.chapter-content,
.markdown-content {
    font-size: 1.1rem;
    line-height: 1.8;
    background-color: var(--body-bg-color) !important;
    
}

.chapter-content{
    border: 1px solid var(--body-border-color) !important;
}

.chapter-heading{
    font-size: 4rem !important;
    background: var(--heading-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:10px !important;
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    text-decoration: underline !important;

}

hr{
    color: var(--text-color);
}
strong{
    color:var(--bold_text); 
}
.highlighted_text{
    color:var(--highlighted_text);
}

img{
    color: var(--body-bg-color);
    background-color: var(--body-bg-color) !important;
}

.flashcard-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.pdf-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Adjust this to change the aspect ratio */
    background-color: #f8fafc; /* Light background */
    border: 1px solid #e5e7eb; /* Light border */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.pdf-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px; /* Match the container's rounded corners */
}

.dark .pdf-container {
    background-color: #1f2937; /* Dark background for dark mode */
    border: 1px solid #4b5563; /* Dark border for dark mode */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Slightly darker shadow */
}
/* Quiz specific styles */
.quiz-container {
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    transition: background-color var(--transition-speed);
}

.timer-container {
    text-align: center;
    margin-bottom: var(--spacing-medium);
}

.timer {
    font-size: 1.2em;
    color: var(--text-color-primary);
    font-weight: bold;
}

.question-container {
    margin-bottom: var(--spacing-large);
}

.question {
    font-size: 1.2em;
    color: var(--text-color-primary);
    margin-bottom: var(--spacing-medium);
}

.options {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.option-btn {
    color: var(--link-color);
    background-color: var(--link-bg-color);
    border-color: var(--link-color);
    text-decoration: none;
    transition: background-color var(--transition-speed);
    transition-duration: .5s;
    border: 1px solid var(--link-color); 
    min-height:40px !important;
}

.option-btn:hover {
    color: var(--link-hover-color);
    background-color: var(--link-hover-bg-color);
    
}

.option-btn.selected {
    background-color: var(--q-option-selected-color);
    color: var(--q-option-text-color);
    font-weight: bold;
    transform: scale(0.98);
    box-shadow: 0 0 0 1px #17ff3e;
    transition: 
        background-color 0.6s ease, 
        color 0.7s ease, 
        transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        box-shadow 0.6s ease;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-large);
}

.nav-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.nav-btn:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px);
}

.nav-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.question-number {
    color: var(--text-color-secondary);
}

.results-container {
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-large);
    text-align: center;
    transition: background-color var(--transition-speed);
}

.score {
    font-size: 1.5em;
    color: var(--text-color-primary);
    margin-bottom: var(--spacing-medium);
}

.retry-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.retry-btn:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

/* Animation for question container */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.question-container {
    animation: fadeIn 0.5s ease-out;
}

/* Confetti styles */
.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #fce18a;
    opacity: 0;
    animation: confetti-fall 3s linear infinite;
}

@keyframes confetti-fall {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(720deg); opacity: 0; }
}

.development-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    font-family: Arial, sans-serif;
    animation: slideIn 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.development-box p {
    margin: 0;
    flex: 1;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}
/* Slide-in animation for the development box */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar-toggle {
    background: transparent;
    color: #333;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 1002;
}

.dark .sidebar-toggle {
    color: #fff;
}

.sidebar-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sidebar-toggle .icon {
    transition: transform 0.3s ease;
}

.sidebar-toggle.active .icon {
    transform: rotate(180deg);
}
.sidebar-toggle {
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: left;
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 1002;
}

.dark .sidebar-toggle {
    color: #fff;
}

.sidebar-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sidebar-toggle .icon {
    transition: transform 0.3s ease;
}

.sidebar-toggle .rotate{
    transform: rotate(180deg) !important;
    transition: transform 0.5s ease !important;
}
.sidebar {
    width: 300px;
    background: var(--sidebar-bg-color);
    color: var(--text-color);
    padding: 20px;
    position: fixed;
    top: 64px;
    left: -300px;
    height: calc(100% - 64px);
    overflow-y: auto;
    transition: left 0.3s ease, transform 0.3s ease;
    z-index: 1001;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.active {
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar h3 {
    font-size: 1.2em;
    margin: 20px 0 15px;
    color: var(--heading-color-h2);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: var(--text-color);
}

.sidebar-nav a:hover {
    background-color: var(--sidebar-bg-color);
    color: var(--link-color);
}

.sidebar-nav i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
    
}

.toc-tree {
    list-style: none;
    padding-left: 0;
}

.toc-tree ul {
    list-style: none;
    padding-left: 15px;
}

.toc-tree li {
    margin: 5px 0;
}

.toc-tree a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.toc-tree a:hover {
    color: var(--link-color);
}

.content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.content.shifted {
    margin-left: 300px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: -100%;
    }
    
    .content.shifted {
        margin-left: 0;
    }
}
.toc-tree ul {
    list-style-type: none;
    padding-left: 30px;
    margin-bottom: 5px;
}


.toc-tree li {
    margin-bottom: 5px;
}


.toc-tree .collapsible {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toc-tree .collapsible::before {
    content: '\25B6';
    display: inline-block;
    margin-right: 6px;
    transition: transform 0.3s;
}

.toc-tree .collapsible.expanded::before {
    transform: rotate(90deg);
}

.toc-tree .hidden {
    display: none;
}

.toc-tree a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    display: block;
    padding: 5px 0;
    transition: color 0.3s ease;    
}

.toc-tree .toc-li-a-1{
    color: var(--side-bar-h1-color) !important;
    font-size: 1.2em !important;
}

.toc-tree .toc-li-a-2{
    font-size: 1.1em !important;
}
.toc-tree .toc-li-a-3{
    font-size: 0.9em !important;
}
.toc-tree .toc-li-a-4{
    font-size: 0.8em !important;
}

.toc-tree a:hover{
    color:var(--primary-color) !important;
    transform: translateY(3px);
    transition: transform 0.3s ease-in-out;

}
@media (max-width: 768px) {
    .content.shifted {
        margin-left: 0;
    }
}

.question button{
    font-size: 15px;
    width: 20%;
    height: 5%;
    color: var(--link-color);
    background-color: var(--link-bg-color);
    border-color: var(--link-color);
    text-decoration: none;
    transition: background-color var(--transition-speed);
    transition-duration: .5s;
    border: 1px solid var(--link-color); 
}


.question button:hover{
    color: var(--link-hover-color);
    background-color: var(--link-hover-bg-color);
    
}
/* Tables */
/* Table styles */
table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-bottom: 1em !important;
    background-color: var(--table-border-color) !important; /* Match dark mode background */
    color: var(--text-color) !important; /* Light text color for contrast */
    border: 1px solid var(--table-border-color) !important; /* Table border */

}

table th, table td {
    padding: 0.75em 1em !important;
    border: 1px solid var(--table-border-color) !important; /* Border for table cells */
    text-align: center !important; /* Ensure left alignment */
}

table th {
    background-color: var(--table-header-bg) !important; /* Darker header background */
    font-weight: bold !important;
    color: var(--table-header-color) !important; /* Light text color */
    font-size: 20px;
}

table tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-bg) !important; /* Alternating row color */
}

table tbody tr:nth-child(even) {
    background-color: var(--table-row-even-bg) !important; /* Base row color */
}



@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block !important;
    }

    table tr {
        margin-bottom: 1em !important;
    }

    table td, table th {
        text-align: right !important;
        padding-left: 50% !important;
        position: relative !important;
    }

    table td::before, table th::before {
        content: attr(data-label) !important;
        position: absolute !important;
        left: 0 !important;
        width: 50% !important;
        padding-left: 1em !important;
        text-align: left !important;
        font-weight: bold !important;
    }
}

.math-block{
    font-size: 18px;
    
}
.admonition.warning {
    background-color: var(--admonition-bg);
    border-left: 5px solid var(--admonition-border);
    color: var(--admonition-text);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admonition.warning .strong {
    color: var(--admonition-title);
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
}

.admonition.warning strong::before {
    content: "⚠️ ";
    margin-right: 0.5rem;
}

.admonition.warning p {
    margin: 0.5rem 0;
}

.admonition.warning a {
    color: var(--admonition-title);
    text-decoration: underline;
}

.admonition.warning a:hover {
    color: var(--admonition-link-hover);
}

/* Global Styles */
html {
    font-size: 16px;
}

body {
    font-size: var(--font-size-medium);
    line-height: 1.6;
}

/* Typography */
h1 { font-size: var(--font-size-xxl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-large); }

/* Layout */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
}

/* Header */
header {
    padding: var(--spacing-small) 0;
}

.logo a {
    font-size: var(--font-size-large);
}

/* Main Content */
main {
    margin-top: 60px;
    padding: var(--spacing-medium) 0;
}

/* Cards */
.card {
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

/* Buttons */
.btn {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-small);
}

/* Code */
code {
    font-size: var(--font-size-small);
}

pre {
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-size-small);
}

/* Q&A Styles */
.question {
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

/* Flashcard styles */
#flashcard {
    min-height: 150px;
}

.flashcard {
    height: 150px;
}

/* Quiz styles */
.quiz-options label {
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    h1 { font-size: var(--font-size-xl); }
    h2 { font-size: var(--font-size-large); }
    h3 { font-size: var(--font-size-medium); }

    .card {
        padding: var(--spacing-small);
    }

    #flashcard {
        min-height: 120px;
    }

    .flashcard {
        height: 120px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px ;
    }

    .btn {
        padding: 0.4rem 0.8rem;
    }

    #flashcard {
        min-height: 100px;
    }

    .flashcard {
        height: 100px;
    }
}