{% extends 'base.html' %}



{% block content %}

<div class="chapter-container">
    {% block sidebar %}
    <div id="sidebar" class="sidebar">
        <div class="sidebar-content">
            <nav>
                <ul class="sidebar-nav">

                    <li>
                        <div class="flex items-center">
                            <a href="{{ url_for('index') }}"
                                class="inline-flex items-center bg-secondary-light dark:bg-secondary-dark text-white py-2 px-4 rounded hover:bg-opacity-80 transition duration-300">
                                <i class="fa-solid fa-home text-xl mr-2"></i>
                                <span>Home</span>
                            </a>

                        </div>
                    </li>
                    {% if quiz_path %}
                    <li>
                    <div class="flex items-center">
                        <a href="{{ quiz_path }}"
                            class="inline-flex items-center bg-secondary-light dark:bg-secondary-dark text-white py-2 px-4 rounded hover:bg-opacity-80 transition duration-300">
                            <i class="{{icons['quiz'][0]}}"></i>
                            <span>Quiz Available</span>
                        </a>
                    </div>
                    </li>
                    {% endif %}
                    <br>
                    <h3 style="margin-top: 1px;">Table of Contents</h3>
                    <ul id="tocTree" class="toc-tree"></ul>
                    <br>
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}

    <div class="chapter-body content">
        <h3 class="text-4xl font-bold mb-8 text-center text-primary-light dark:text-primary-dark chapter-heading"
            style="text-align: center;font-size: 1.7rem !important;margin-bottom: -10px;">Chapter: {{
            chapter.split("_",maxsplit=1)[0].replace('_',' ') }}</h3>
        <h1 class="text-4xl font-bold mb-8 text-center text-primary-light dark:text-primary-dark chapter-heading">{{
            chapter.split("_",maxsplit=1)[1].replace('_',' ') }}</h1>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-8 chapter-content">
            <div class="prose max-w-none text-text-light dark:text-text-dark markdown-content content">
                {{ content|safe }}
            </div>
        </div>
    </div>
</div>
<script>

</script>


{% endblock %}