{% extends 'base.html' %}

{% block title %}{{ subject }}{% endblock %}

{% block content %}
    <section class="subject-header">
        <h2>{{ subject }} Chapters</h2>
    </section>

    <section class="subject-content">
        <ul class="chapter-list">
            {% for chapter in chapters %}
                <li>
                    <a class="chapter-link" href="{{ url_for('chapter', subject=subject, chapter=chapter) }}">{{ chapter.replace('_',' ') }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
